<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amps"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.amps.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.amps.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.example.amps.MainTabMenu"
            android:label="@string/title_activity_main_tab_menu" >
        </activity>
        <activity
            android:name="com.example.amps.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="com.example.amps.ProfileAccountFragment"
            android:label="@string/title_fragment_profile_account" >
        </activity>
        <activity
            android:name="com.example.amps.ProfilePasswordFragment"
            android:label="@string/title_fragment_profile_password" >
        </activity>
        <activity
            android:name="com.example.amps.ProfileSettingsFragment"
            android:label="@string/title_fragment_profile_settings" >
        </activity>
        <activity
            android:name="com.example.amps.ProjectActivity"
            android:label="@string/title_activity_project" >
        </activity>
        <activity
            android:name="com.example.amps.ProjectInformationFragment"
            android:label="@string/title_fragment_project_information" >
        </activity>
        <activity
            android:name="com.example.amps.ProjectBulletinsFragment"
            android:label="@string/title_fragment_project_bulletins" >
        </activity>
        <activity
            android:name="com.example.amps.ProjectChartsFragment"
            android:label="@string/title_fragment_project_charts" >
        </activity>
        <activity
            android:name="com.example.amps.FolderActivity"
            android:label="@string/title_activity_folder" >
        </activity>
        <activity
            android:name="com.example.amps.ReportActivity"
            android:label="@string/title_activity_report" >
        </activity>
        <activity
            android:name="com.example.amps.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.example.amps.WorkingAssetsListActivity"
            android:label="@string/title_activity_working_assets" >
        </activity>
        <activity
            android:name="com.example.amps.ProjectListActivity"
            android:label="@string/title_activity_project_list" >
        </activity>
        <activity
            android:name="com.example.amps.WorkingAssetsActivity"
            android:label="@string/title_activity_working_assets" >
        </activity>
        <activity
            android:name="com.example.amps.WorkingAssetsPreviewFragment"
            android:label="@string/title_fragment_working_assets_preview" >
        </activity>
        <activity
            android:name="com.example.amps.WorkingAssetsPropertiesFragment"
            android:label="@string/title_fragment_working_assets_properties" >
        </activity>
        <activity
            android:name="com.example.amps.WorkingAssetsCommentsFragment"
            android:label="@string/title_fragment_working_assets_comments" >
        </activity>
        <activity
            android:name="com.example.amps.WorkingAssetsRevisionsFragment"
            android:label="@string/title_fragment_working_assets_revisions" >
        </activity>
        <activity
            android:name="com.example.amps.WorkingAssetsLogHistoryFragment"
            android:label="@string/title_fragment_working_assets_log_history" >
        </activity>
    </application>

</manifest>