<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amps"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.amps.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.amps.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.example.amps.ProfileAccountActivity"
            android:label="@string/title_activity_profile_account" >
        </activity>
        <activity
            android:name="com.example.amps.MainTabMenu"
            android:label="@string/title_activity_main_tab_menu" >
        </activity>
        <activity
            android:name="com.example.amps.ProfileTabMenu"
            android:label="@string/title_activity_profile_tab_menu" >
        </activity>
        <activity
            android:name="com.example.amps.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="com.example.amps.ProfilePasswordActivity"
            android:label="@string/title_activity_profile_password" >
        </activity>
        <activity
            android:name="com.example.amps.ProfileSettingsActivity"
            android:label="@string/title_activity_profile_settings" >
        </activity>
    </application>

</manifest>